/*====== General =====*/

html {
  scroll-behavior: smooth;
}

body {
  height: 1000px;
  font-family: 'Paytone One', Arial;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  user-select: none;
}

button {
  font-family: 'Paytone One', Arial;
}

img {
  user-select: none;
}

/*====== Header =====*/

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  transition: height 0.15s;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-lebkob-trademark {
  margin-left: 40px;
  margin-bottom: 5px;
  height: 70px;
  transition: scale 0.2s, height 0.1s;
}

.header-lebkob-trademark:hover {
  scale: 1.05;
  cursor: pointer;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.page-name {
  font-size: 35px;
  padding-bottom: 0px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  transition: width 0.1s;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-top: 10px;
  transition: scale 0.15s, transform 0.15s, font-size 0.1s;
}

.header-home:hover {
  scale: 1.1;
  transform: translateY(-1px);
  cursor: pointer;
}

.team-button {
  right: 0;
  background-color: white;
  font-family: 'Paytone One', Arial;
  font-size: 30px;
  padding: 6px 18px;
  border: 5px solid black;
  border-radius: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: background-color, color 0.1s
  , scale 0.15s, box-shadow 0.1s,
  font-size 0.1s;
}

.team-button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  background-color: black;
  color: white;
  scale: 1.1;
  cursor: pointer;
}

/*====== Sections =====*/

.sections {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 130px -10px 0 -10px;
  transition: margin-top 0.1s;
}

.section-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 1000px;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
}

.section-1-image-background {
  position: absolute;
  object-position: center;
  width: 110%;
  filter: blur(10px) contrast(50%) brightness(120%);
  z-index: -10;
}

.section-1-background-overlay {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 70%;
  background: rgba(255, 255, 255, 1);
  mix-blend-mode: screen;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -5;
}

.section-1-content {
  margin-top: -130px;
  display: grid;
  grid-template-rows: 110px 110px 100px 110px;
  justify-content: center;
  align-items: center;
}

.section-1-welcome, .section-2-or {
  text-align: center;
  font-size: 100px;
  margin: 0;
  padding-bottom: 0;
}

.section-1-to-page {
  text-align: center;
  font-size: 35px;
  margin-top: -10px;
}

.section-1-logo {
  margin-top: -20px;
  height: 70px;
  justify-self: center;
  object-fit: contain;
}

.section-1-stay-tuned {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
}

.section-2 {
  display: grid;
  grid-template-rows: 1fr 5fr;
  padding: 50px 0 -100px 0;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.section-2-main-container-upper {
  margin: 80px 0 -50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2-main-container-lower {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.section-2-inner-container-text {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2-inner-container-text p {
  margin: 0;
  font-size: 40px;
}

.section-2-portfolio-button {
  align-self: center;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: background-color, color 0.1s
  , scale 0.15s, box-shadow 0.1s;
}

.section-2-portfolio-button:hover {
  scale: 1.1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  background-color: black;
  color: white;
  cursor: pointer;
}

.section-2-inner-container-image {
  margin-left: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.section-2-image-grid {
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.section-2-image-grid img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
}

.section-2-image-grid img:hover {
  scale: 1.1;
  box-shadow: 0 0 80px rgba(255, 255, 255, 1);
}

/* ===== Footer ===== */

.footer {
  display: grid;
  grid-template-rows: 1fr 60px;
  position: relative;
  margin: 0 -10px 0 -10px;
  height: 250px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.footer-main-container-upper {
  display: flex;
  flex-direction: row;
}

.footer-left {
  flex: 1;
}

.footer-about-container {
  margin: 60px 0 -20px 100px;
  display: grid;
  grid-template-rows: 50px 5px 70px;
  row-gap: 10px;
}

.footer-trademark {
  align-self: center;
  height: 50px;
}

.footer-divider-line {
  background-color: black;
  margin-top: 10px;
  height: 5px;
  width: 245px;
  border-style: none;
  border-radius: 20px;
}

.footer-quote {
  font-size: 20px;
}

.footer-middle {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer-scroll-up-button {
  padding: 10px;
  margin-top: 70px;
  height: 50px;
  border: 6px solid black;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
}

.footer-scroll-up-button:hover {
  scale: 1.1;
  filter: invert(1);
  border-color: white;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  animation: scroll-up-hover-anim 0.3s ease-out 1;
  cursor: pointer;
  transform: translateY(-5px);
}

@keyframes scroll-up-hover-anim {
  0% { transform: translateY(0)}
  50% { transform: translateY(-10px)}
  100% { transform: translateY(-5px)}
}

.footer-right {
  flex: 1;
  display: flex;
  grid-template-columns: 100px 1fr;
}

.footer-contacts {
  flex: 1;
  display: grid;
  margin-top: 40px;
  margin-left: 200px;
  grid-template-rows: 30px 20px 20px;
  align-content: center;
  row-gap: 20px;
}

.footer-contacts-title {
  font-size: 23px;
  padding-bottom: 20px;
}

.footer-contacts-facebook, .footer-contacts-email {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 10px;
  align-items: center;
}

.footer-contacts-facebook-icon, .footer-contacts-email-icon {
  filter: grayscale(100%);
  margin-top: 8px;
  width: 30px;
}

.footer-contacts-facebook-text, .footer-contacts-email-text {
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 8px 180px 8px 15px;
  transition: scale 0.15s;
}

.footer-contacts-facebook-text:hover, .footer-contacts-email-text:hover {
  scale: 1.1;
}

.footer-main-container-lower {
  justify-self: center;
  font-size: 12px;
  padding-top: 10px;
}